*{
    box-sizing: border-box;
}


.title{
    font-family: 'Retroking';
    font-size: 3.3em;
    color: rgb(206, 120, 7);
    margin: 0.4em;
    text-decoration: underline overline;
    text-align: center;
}

.section-container{
    width: 70%;
    height: 12%;
    display:grid;
    gap: 1em;
    grid-template-columns: repeat (3, 1fr);
    margin: 1em auto;
    padding: 1em;
    background-image: url("/imagenes/fondo12.jpg");
    background-position: center;
    border-radius: 2em;
}
.section-container__header{
    grid-column: span 3;
    font-size: 1.3em;
    color: rgb(39, 30, 18);
    margin: 1em;
}

.section-container__redes{
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    color: black;
    font-weight: bolder;
    grid-row: span 1;
    text-align: center;
    border:.3em double black;
    background-color: #CC850F;
    display: flex;
    flex-direction: row;
}

.section-container__direction{
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    font-weight: bolder;
    grid-column: span 2;
    grid-row: span 1;
    border:.3em double black;
    background-color: #8A1C01;
}
.section-container__mail{
    grid-column: span 1;
    text-align: center;
    margin: 1em auto;
    padding: .1em;
    font-size: 1em;
    color: black;
    font-weight: bolder;
    border:.3em double black;
    background-color: #718f35;
}
.section-container__a{
    color: rgb(0, 0, 0);
    padding: .1em;
    text-decoration: none;
}

.section-container__phone{
    grid-column: span 1;
    text-align: center;
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    color: black;
    font-weight: bolder;
    border:.3em double black;
    background-color: #357D7E;

}

.data-container{
    width: 50%;
    height: 34em;
    margin: .1em auto;
    display:block;
    justify-content: center;
    background-image: url("/imagenes/logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.data-container__button{
    width: 6em;
    height: 2em;
    margin: 1em auto;
    font-family: 'Retroking';
    font-size: 0.8em;
    color: black;
    background-color: rgb(206, 120, 7);
    border-radius: 2em;
    
}

.data-container__legend{
    font-family: 'Retroking';
    font-size: 2.3em;
    color: rgb(206, 120, 7);
    margin-left: 7em;
    padding: 0 1em ;
}
.data-container__form{
    display:flex;
    flex-direction: column;
    font-family: 'Retroking';
    font-size: 1.3em;
    color: rgb(206, 120, 7);
    padding: 1em;
}

.data-container__textarea{
    resize: none;
}

/* copiado del otro archivo para que ande */
.pie p{ 
    margin: 0 auto;
    display: block;
    width: 8em;
    height: 2em;
    color: rgb(206, 120, 7);;
    font-family: 'Retroking';
    text-align: center;
    font-size: 2em;
    text-align: center;
}

.button-index a{
    display: block;
    width: 5em;
    border-radius: 2em 4em;
    margin: 0 auto;
    background-color: chocolate;
    color: rgb(250, 250, 250);
    font-family: 'Retroking';
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

