*{
    box-sizing: border-box;
}


.title{
    font-family: 'Retroking';
    font-size: 3.3em;
    color: rgb(206, 120, 7);
    margin: 0.4em;
    text-decoration: underline overline;
    text-align: center;
}

.data-container{
    width: 50%;
    height: 34em;
    margin: 1em auto;
    display:block;
    justify-content: center;
    background-image: url("/imagenes/logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.data-container__button{
    width: 6em;
    height: 2em;
    margin: 1em auto;
    font-family: 'Retroking';
    font-size: 0.8em;
    color: black;
    background-color: rgb(206, 120, 7);
    border-radius: 2em;
    
}

.data-container__legend{
    font-family: 'Retroking';
    font-size: 2.3em;
    color: rgb(206, 120, 7);
    margin-left: 7em;
    padding: 0 1em ;
}
.data-container__form{
    display:flex;
    flex-direction: column;
    font-family: 'Retroking';
    font-size: 1.3em;
    color: rgb(206, 120, 7);
    padding: 1em;
}

.data-container__textarea{
    resize: none;
}

.section-container{
    width: 60%;
    height: 40em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .3em auto;
    padding: 1.3em;
    background-image: url("/imagenes/fondo12.jpg");
    background-position: center;
    border-radius: 2em;
}
.section-container__redes{
    margin: .1em .3em;
    padding: 1.4em;
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
    width: 15em;
    height: 8em;
    border:.3em double black;
}
.section-container__direction{
    margin: .1em .3em;
    padding: 1.4em;
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
    width: 18em;
    height: 18em;
    border:.3em double black;
    
}
.section-container__mail{
    display: flex;
    flex-wrap: wrap;
    width: 15em;
    height: 10em;
    margin: .5em auto;
    padding: 1em;
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
    border:.3em double black;
}
.section-container__phone{
    display: flex;
    flex-wrap: wrap;
    width: 13em;
    height: 11em;
    padding: 1em;
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
    border:.3em double black;
}

.section-container a:link{
    color: rgb(0, 0, 0);
    padding: .3em;
    text-decoration: none;
}



/* copiado del otro archivo para que ande */
.pie p{ 
    margin: 0 auto;
    display: block;
    width: 8em;
    height: 2em;
    color: rgb(206, 120, 7);;
    font-family: 'Retroking';
    text-align: center;
    font-size: 2em;
    text-align: center;
}

.button-index a{
    display: block;
    width: 5em;
    border-radius: 2em 4em;
    margin: 0 auto;
    background-color: chocolate;
    color: rgb(250, 250, 250);
    font-family: 'Retroking';
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}