@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.card {
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  width: 29em;
  height: 20em;
  flex-wrap: wrap;
  cursor: pointer;
}
.card__article {
  display: flex;
}
.card:hover {
  transform: scale(1.1);
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.card__image {
  width: 15em;
  height: 20em;
  border: #fff5f5 double;
}
.card__price {
  margin: 0.1em;
  font-weight: bold;
  color: black;
  font-size: 1.1em;
  background-color: seagreen;
}
.card__position {
  position: relative;
  bottom: -2.3em;
}
.card__content {
  width: 15em;
  height: 22.2em;
  color: black;
  overflow: hidden;
  background-color: blanchedalmond;
  font-size: 0.9em;
  border: black double;
}
.card_heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}
.card:link {
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  border: 2px solid darksalmon;
  display: block;
}
#menu:checked ~ .search-bar .menu-troggle__label {
  background-color: dodgerblue;
}

.nav-bar {
  background-color: cadetblue;
}
.nav-bar__nav-list {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-item {
  width: 100%;
  text-align: center;
}
.nav-bar__nav-link {
  display: block;
  background-image: url("../imagenes/fondo8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  color: black;
  border: 0.1em #9c6565 double;
  padding: 1em 2em;
  text-decoration: none;
}
@media (max-width: 767px) {
  .nav-bar__nav-link {
    opacity: 11;
  }
}
.nav-bar .init {
  border-top: #fabe0a 0.3em solid;
}
.nav-bar .init:hover {
  background: #ffd452;
  opacity: 1;
}
.nav-bar .registration {
  border-top: #06d0c6 0.3em solid;
}
.nav-bar .registration:hover {
  background: #62f3ec;
  opacity: 1;
}
.nav-bar .contact {
  border-top: #04dc4c 0.3em solid;
}
.nav-bar .contact:hover {
  background: #46dd78;
  opacity: 1;
}
.nav-bar .aboutus {
  border-top: #fa1919 0.3em solid;
}
.nav-bar .aboutus:hover {
  background: #fa6b6b;
  opacity: 1;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

.search-bar {
  display: inline-block;
  background-image: url("../imagenes/fondo7.jpg");
  background-size: cover;
  justify-content: space-between;
  border: white double;
}
.search-bar__logo-container, .search-bar__form-container {
  padding: 1em;
}
.search-bar__logo-container {
  display: flex;
}
.search-bar__logo-container--banner {
  border: 2em black;
  height: 14em;
  margin: 0.1em auto;
  margin-left: 20em;
  width: 60em;
  background-repeat: no-repeat;
  background-size: 80% 100%;
  -webkit-animation: banner 20s infinite;
          animation: banner 20s infinite;
}
@media (max-width: 1075px) {
  .search-bar__logo-container--banner {
    display: none;
  }
}
@-webkit-keyframes banner {
  0%, 20% {
    background-image: url("../imagenes/blacklagoon.gif");
  }
  20%, 30% {
    background-image: url("../imagenes/casablanca.gif");
  }
  30%, 40% {
    background-image: url("../imagenes/dracula.gif");
  }
  40%, 50% {
    background-image: url("../imagenes/heavencanwait.gif");
  }
  50%, 60% {
    background-image: url("../imagenes/frankenstein.gif");
  }
  60%, 70% {
    background-image: url("../imagenes/charliechaplin.gif");
  }
  70%, 80% {
    background-image: url("../imagenes/gonewiththewind.gif");
  }
  80%, 100% {
    background-image: url("../imagenes/hellraiser.gif");
  }
}
@keyframes banner {
  0%, 20% {
    background-image: url("../imagenes/blacklagoon.gif");
  }
  20%, 30% {
    background-image: url("../imagenes/casablanca.gif");
  }
  30%, 40% {
    background-image: url("../imagenes/dracula.gif");
  }
  40%, 50% {
    background-image: url("../imagenes/heavencanwait.gif");
  }
  50%, 60% {
    background-image: url("../imagenes/frankenstein.gif");
  }
  60%, 70% {
    background-image: url("../imagenes/charliechaplin.gif");
  }
  70%, 80% {
    background-image: url("../imagenes/gonewiththewind.gif");
  }
  80%, 100% {
    background-image: url("../imagenes/hellraiser.gif");
  }
}
.search-bar__form-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .search-bar__form-container {
    width: 70%;
  }
}
.search-bar__form-label {
  margin-right: 0.3em;
  background-color: brown;
  border: 0.1em black solid;
  padding: 0.1em;
}
.search-bar__form-search {
  width: 30%;
  border: black double;
}
.search-bar__form-submit {
  margin-left: 0.3em;
  width: 6em;
  border: 0.1em black solid;
  background-color: brown;
  font-family: "Retroking";
  border-radius: 0.6em;
}
.search-bar__shopping-container {
  height: 1em;
  position: relative;
  left: 1.1em;
  bottom: 2em;
  color: #A52A2A;
  flex-grow: 0 0 3em;
  margin: 0.3em;
}
.search-bar__shopping-container--shopicon a:visited {
  color: #A52A2A;
}
.search-bar__shopping-container--shopicon a:link {
  display: flex;
  width: 12.3em;
  height: 3.1em;
  background-color: #000000;
  background-image: url("../imagenes/carrito1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.4em;
  color: #fafafa;
  border-radius: 1em;
}
.search-bar__shopping-container--shopicon a:link {
  text-decoration: none;
  padding: 0.4em;
  color: #d82c2c;
}
@media (max-width: 900px) {
  .search-bar__shopping-container {
    display: block;
    height: 3em;
    width: 5em;
    background-color: #000000;
    overflow: hidden;
    border-radius: 2em;
    align-self: flex-start;
  }
  .search-bar__shopping-container--shopicon a:link {
    text-decoration: none;
    padding: 0.4em;
    color: #d82c2c;
  }
}
@media (max-width: 900px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  background-color: #A52A2A;
  height: 0.3em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    position: relative;
    width: 3em;
    top: -5em;
    left: 11em;
    padding: 0.2em;
    background-color: black;
  }
}

.section-cards {
  width: 80%;
  margin: 0.1em 0.1em 1.8em 16.5em;
  background-color: black;
  background-repeat: repeat-y;
  text-align: center;
  padding: 1em;
  color: #ce7807;
}
.section-cards__header-letter {
  font-size: 3em;
  text-decoration: overline underline;
}
@media (max-width: 1200px) {
  .section-cards {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }
  .section-cards__header-letter {
    width: 100%;
    margin: 0 auto;
    font-size: 3em;
    text-decoration: overline underline;
    justify-content: center;
  }
}

.cards-container {
  margin: 0.2em auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 950px;
}
@media (max-width: 1200px) {
  .cards-container {
    gap: 1em;
  }
}

.menu-category {
  width: 15em;
  height: 40em;
  position: absolute;
  top: 30em;
  left: 1em;
  justify-content: center;
  background-image: url("../imagenes/fondo8.jpg");
  background-size: cover;
  border: black double;
  font-family: "Retroking";
}
.menu-category--separation {
  margin: 0.2em;
  padding: 1.4em;
}
.menu-category--underline {
  text-decoration: overline underline;
  color: black;
  font-size: 1.6em;
}
.menu-category ul {
  list-style: none;
  padding: 0.4px;
}
.menu-category a:link {
  text-decoration: none;
  background-color: #004a86;
  border-radius: 1em 2em;
}
.menu-category a {
  display: block;
  color: black;
  padding: 0.9em;
  margin: 1.9em;
}
.menu-category li {
  list-style: none;
  border-radius: 0.6em;
}
@media (max-width: 1100px) {
  .menu-category {
    display: flex;
    margin: 1em auto;
    width: 22em;
    height: 16.5em;
    margin: 0.5em;
    position: relative;
    align-items: center;
    top: 0.1em;
    left: 18em;
  }
  .menu-category--underline {
    text-decoration: overline underline;
    color: black;
    font-size: 1.2em;
  }
  .menu-category a:link {
    text-decoration: none;
    background-color: #3b8ed1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 6em;
    margin: 0.3em;
  }
  .menu-category a {
    display: block;
    justify-content: flex-end;
    color: black;
    font-size: 1em;
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .menu-category {
    top: 0.1em;
    left: 14em;
  }
}
@media (max-width: 900px) {
  .menu-category {
    top: 0.1em;
    left: 0em;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .menu-category {
    top: 0.1em;
    left: 1em;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .menu-category {
    top: 0.1em;
    left: 1em;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .menu-category {
    top: 0.1em;
    left: 1.5em;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .menu-category {
    top: 0.1em;
    left: 0em;
    margin: 0 auto;
  }
}

.container__advertising {
  width: 15em;
  height: 30em;
  position: absolute;
  top: 103em;
  left: 1em;
}
.container__advertising--slider {
  width: 15em;
  height: 32em;
  overflow: hidden;
}
.container__advertising ul {
  display: flex;
  -webkit-animation: cambio 30s infinite alternate;
          animation: cambio 30s infinite alternate;
}
.container__advertising li {
  width: 100%;
  list-style: none;
}
.container__advertising img {
  width: 20em;
  height: 100%;
}
@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  10% {
    margin-left: -950%;
  }
  20% {
    margin-left: -950%;
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  10% {
    margin-left: -950%;
  }
  20% {
    margin-left: -950%;
  }
}
@media (max-width: 1000px) {
  .container__advertising {
    display: none;
  }
}

.menu__discover {
  font-family: "Retroking";
  color: black;
  width: 15em;
  height: 22em;
  position: absolute;
  top: 78em;
  left: 1em;
  background-image: url("../imagenes/fondo3.jpg");
  border-radius: 1em;
}
.menu__discover--p {
  font-size: 1.3em;
}
.menu__discover a {
  display: block;
  margin: 0.5em;
  font-family: "Retroking";
  color: black;
  font-size: 1em;
  background-color: #1d89e2;
  border-radius: 2em 3em 4em;
}
.menu__discover a:link {
  text-decoration: none;
}
.menu__discover--ul {
  list-style: none;
  margin: 0.7em;
  padding: 0.4em;
}
@media (max-width: 1100px) {
  .menu__discover {
    display: block;
    width: 11em;
    height: 16.5em;
    position: absolute;
    top: 36em;
    left: 30em;
    margin: 0.4em;
    border-radius: 0;
    background-image: none;
  }
  .menu__discover--p {
    font-size: 1em;
  }
  .menu__discover a {
    display: block;
    margin: 0.1em;
    font-family: "Retroking";
    color: black;
    font-size: 0.9em;
  }
  .menu__discover--ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 9em;
  }
}
@media (max-width: 1000px) {
  .menu__discover {
    display: none;
  }
}

.footer-container {
  margin: 0 auto;
  display: block;
  width: 8em;
  height: 2em;
  color: #ce7807;
  font-family: "Retroking";
  text-align: center;
  font-size: 2em;
}
@media (max-width: 900px) {
  .footer-container {
    width: 100%;
    text-align: center;
    font-size: 2em;
  }
}

@font-face {
  font-family: "Retroking";
  src: url("../letras/Retroking.ttf") format("truetype");
  font-style: normal;
}
body {
  font-family: "Texturina", serif;
  background-color: black;
}

header {
  font-family: "Retroking";
}

.registration__title {
  font-family: "Retroking";
  font-size: 1.4em;
  color: #ce7807;
  margin: 1em;
  text-decoration: underline overline;
  text-align: center;
}

.registration__subtitle {
  font-family: "Retroking";
  font-size: 1.6em;
  color: #ce7807;
  margin: 1em;
  text-decoration: underline overline;
  text-align: center;
}

.product-container {
  width: 50%;
  height: 32%;
  margin: 0.1em auto;
  display: block;
  justify-content: center;
  background-image: url("../imagenes/logo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product-container__legend {
  font-family: "Retroking";
  font-size: 2em;
  color: #ce7807;
  margin-left: 5em;
  padding: 0 1em;
}
.product-container__form {
  display: flex;
  flex-direction: column;
  font-family: "Retroking";
  font-size: 1.1em;
  color: #eb9422;
  padding: 1em;
}
.product-container__button {
  width: 6em;
  height: 2em;
  margin: 1em auto;
  font-family: "Retroking";
  font-size: 0.8em;
  color: black;
  background-color: #ce7807;
  border-radius: 2em;
}
@media (max-width: 900px) {
  .product-container__legend {
    margin-left: 2em;
  }
}
@media (max-width: 700px) {
  .product-container__legend {
    margin-left: 1em;
  }
}

.footer-container {
  margin: 0 auto;
  display: block;
  width: 8em;
  height: 2em;
  color: #ce7807;
  font-family: "Retroking";
  text-align: center;
  font-size: 2em;
  text-align: center;
}

.button-index {
  display: block;
  width: 5em;
  border-radius: 2em 4em;
  margin: 0 auto;
  background-color: chocolate;
  color: #fafafa;
  font-family: "Retroking";
  text-align: center;
  font-size: 2em;
  text-decoration: none;
}

.listado_productos {
  width: 75%;
  margin: 0.5em auto;
  padding: 0.5em;
  background-image: url("../imagenes/fondo15.jpg");
  font-family: "Dongle", sans-serif;
  font-size: 1.5em;
  border-radius: 0.3em;
  color: black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
  padding: 0.5em;
}

th {
  font-family: "Retroking";
  font-size: 0.7em;
}

th, td {
  padding: 0.1em 0.6em;
}

.button--registration {
  margin: 0.3em auto;
  padding: 0.3em;
  font-family: "Retroking";
  font-size: 0.5 0.2em;
  color: black;
  background-color: #ce7807;
  border-radius: 0.3em;
}

.detalles__size {
  width: 50%;
  height: 5em;
  border-radius: 0.6em;
}

@media (max-width: 1200px) {
  .listado_productos {
    overflow: scroll;
  }

  .button--registration {
    margin: 0.1em auto;
    padding: 0.1em;
    font-family: "Dongle", sans-serif;
    font-size: 0.8em;
  }

  th {
    font-family: "Dongle", sans-serif;
    font-size: 1em;
  }
}
.input-group {
  margin: 0.2em 0.5em;
}
.input-group input:not(input[type=checkbox]) {
  padding: 0.3em 0.3em;
  display: block;
  width: 85%;
  margin-top: 0.5em;
  border: none;
  border-bottom: 1px solid #ce7807;
  outline: none;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}
.input-group input:not(input[type=checkbox]):focus {
  border-left: 0.5em solid #ce7807;
  border-right: 0.5em solid #ce7807;
  padding-left: 0.5em;
  background-color: #f4f6f8;
}
.input-group__error label,
.input-group__error input:not(input[type=checkbox]) {
  color: #990000;
}
.input-group__error label:focus,
.input-group__error input:not(input[type=checkbox]):focus {
  border-color: #990000;
}
.input-group__error input:not(input[type=checkbox])::-moz-selection {
  background-color: #cccccc;
}
.input-group__error input:not(input[type=checkbox])::selection {
  background-color: #cccccc;
}
.input-group__error .error-detail {
  background-color: #ffcccc;
  color: #990000;
  font-weight: bold;
  padding: 0.25em 0.5em;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.input-group__error .error-detail:empty {
  padding: 0;
}
.input-group__error .error-select {
  background-color: #ffcccc;
  color: #990000;
}

#drop-area {
  border: 2px dotted #ccc;
  border-radius: 10px;
  width: 50%;
  margin: 25px 0;
  padding: 20px;
}

.contact__title {
  font-family: "Retroking";
  font-size: 3.3em;
  color: #ce7807;
  margin: 0.4em;
  text-decoration: underline overline;
  text-align: center;
}

.section-contact {
  width: 70%;
  height: 12%;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat 3, 1fr;
  margin: 1em auto;
  padding: 1em;
  background-image: url("../imagenes/fondo12.jpg");
  background-position: center;
  border-radius: 2em;
}
.section-contact__header {
  grid-column: span 3;
  font-size: 1.3em;
  color: #271e12;
  margin: 1em;
}
.section-contact__redes {
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  color: black;
  font-weight: bolder;
  grid-row: span 1;
  text-align: center;
  border: 0.3em double black;
  background-color: #CC850F;
  display: flex;
  flex-direction: row;
}
.section-contact__direction {
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  font-weight: bolder;
  grid-column: span 2;
  grid-row: span 1;
  border: 0.3em double black;
  background-color: #8A1C01;
}
.section-contact__mail {
  grid-column: span 1;
  text-align: center;
  margin: 1em auto;
  padding: 0.1em;
  font-size: 1em;
  color: black;
  font-weight: bolder;
  border: 0.3em double black;
  background-color: #718f35;
}
.section-contact__a {
  color: black;
  padding: 0.1em;
  text-decoration: none;
}
.section-contact__phone {
  grid-column: span 1;
  text-align: center;
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  color: black;
  font-weight: bolder;
  border: 0.3em double black;
  background-color: #357D7E;
}
@media (max-width: 1000px) {
  .section-contact {
    display: block;
  }
  .section-contact iframe {
    width: 12em;
    height: auto;
  }
  .section-contact__redes {
    display: block;
  }
}

.data-container {
  width: 50%;
  height: 34em;
  margin: 0.1em auto;
  display: block;
  justify-content: center;
  background-image: url("../imagenes/logo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.data-container__button {
  width: 6em;
  height: 2em;
  margin: 1em auto;
  font-family: "Retroking";
  font-size: 0.8em;
  color: black;
  background-color: #ce7807;
  border-radius: 2em;
}
.data-container__legend {
  font-family: "Retroking";
  font-size: 2.3em;
  color: #ce7807;
  margin-left: 7em;
  padding: 0 1em;
}
.data-container__form {
  display: flex;
  flex-direction: column;
  font-family: "Retroking";
  font-size: 1.3em;
  color: #ce7807;
  padding: 1em;
}
.data-container__textarea {
  resize: none;
  border-radius: 2em;
}
@media (max-width: 1000px) {
  .data-container__legend {
    margin-left: 1em;
  }
}

.about-title {
  font-family: "Retroking";
  font-size: 3.3em;
  color: #ce7807;
  margin: 0.4em;
  text-decoration: underline overline;
  text-align: center;
}

.history-container {
  margin: 1em auto;
  padding: 2em;
  width: 80%;
  height: 40%;
  color: black;
  text-align: center;
  font-weight: bolder;
  background-image: url("../imagenes/fondo12.jpg");
  border-radius: 3em;
}
.history-container__objetives {
  margin: 1em;
  margin: 0 auto;
  display: flex;
}
.history-container--align {
  margin-top: 4em;
}
.history-container--align_tittle {
  margin: 1em;
  text-decoration: underline overline;
}
.history-container__clients {
  margin: 1em;
  margin: 0 auto;
  display: flex;
}
.history-container--teamwork {
  margin: 1em;
  width: 30em;
  height: 20em;
  border: double black;
}
.history-container--clients_img {
  margin: 1em;
  width: 20em;
  height: 10em;
  border: double black;
}
@media (max-width: 900px) {
  .history-container__objetives, .history-container__clients {
    display: block;
  }
  .history-container--align {
    margin-top: 2em;
  }
  .history-container--clients_img {
    margin: 1em;
    width: 13em;
    height: 8em;
    border: double black;
  }
  .history-container--teamwork {
    margin: 1em;
    width: 14em;
    height: 9em;
    border: double black;
  }
}

.container_options {
  display: flex;
  margin: auto;
  padding: 2em;
  justify-content: space-around;
  width: 45em;
  height: 14em;
  background-image: url("../imagenes/animacion.gif");
  background-size: 100% 100%;
  background-repeat: repeat-x;
}
.container_options--sponsors {
  width: 20em;
  height: 9em;
  margin: 1em;
  padding: 0.4em;
  text-align: center;
  background-image: url("../imagenes/fondo4.jpg");
  background-position: center;
}
.container_options--sponsors a:link {
  text-decoration: none;
  font-size: 1.3em;
}
.container_options--sponsors a {
  color: #e21515;
  text-transform: capitalize;
  font-weight: bolder;
}
.container_options--work {
  width: 24em;
  height: 9em;
  margin: 1em;
  padding: 0.4em;
  background-image: url("../imagenes/fondo4.jpg");
  background-position: center;
  text-align: center;
}
.container_options--work a:link {
  text-decoration: none;
  font-size: 1.3em;
}
.container_options--work a {
  color: #062c06;
  text-transform: capitalize;
  font-weight: bolder;
}
@media (max-width: 900px) {
  .container_options {
    display: block;
    width: 20em;
    height: 23em;
  }
  .container_options--sponsors {
    display: block;
    width: 15em;
    height: 7em;
  }
  .container_options--work {
    display: block;
    width: 15em;
    height: 9em;
  }
  .container_options a:link {
    text-decoration: none;
    font-size: 1em;
  }
}

.section_carrito {
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: auto;
  display: none;
  position: fixed;
  color: black;
  font-family: "Dongle", sans-serif;
  font-size: 1.5em;
  background-image: url("../imagenes/fondo15.jpg");
  z-index: 1;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  box-shadow: 0.3em 0.3em 10em 0.3em black;
}
.section_carrito--visible {
  display: block;
}
.section_carrito button.btn__comprarcarrito {
  float: right;
  margin: 15px;
  width: 100px;
  height: 35px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "retroking";
  font-size: 0.8em;
  background-color: #ce7807;
  border-radius: 0.3em;
}
.section_carrito .button--carrito {
  margin-left: 0.5em;
  padding: 0.3em;
  font-family: "Retroking";
  font-size: 0.5 0.2em;
  color: black;
  background-color: #ce7807;
  border-radius: 0.3em;
}
@media (max-width: 550px) {
  .section_carrito {
    overflow: scroll;
  }
}/*# sourceMappingURL=main.css.map */