@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;1,100;1,200&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.card {
  margin: 0;
  padding: 0;
  display: flex;
  width: 600px;
  height: 200px;
}
.card__article {
  display: flex;
}
.card .image {
  width: 200px;
  height: 200px;
  border: black double;
}
.card__content {
  width: 200px;
  height: 200px;
  color: black;
  overflow: hidden;
  background-color: blanchedalmond;
  font-size: 15px;
  border: black double;
}
.card_heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.card:link {
  text-decoration: none;
}

.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  border: 2px solid darksalmon;
  display: block;
}
#menu:checked ~ .search-bar .menu-troggle__label {
  background-color: dodgerblue;
}

.nav-bar {
  background-color: cadetblue;
}
.nav-bar__nav-list {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-item {
  width: 100%;
  text-align: center;
  background-color: aquamarine;
}
.nav-bar__nav-link {
  display: block;
  background-image: url("/imagenes/fondo8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  color: black;
  border: 0.1em #9c6565 double;
  padding: 1em 2em;
  text-decoration: none;
}
.nav-bar .inicio {
  border-top: #fabe0a 0.3em solid;
}
.nav-bar .inicio:hover {
  background: #ffd452;
  opacity: 1;
}
.nav-bar .alta {
  border-top: #06d0c6 0.3em solid;
}
.nav-bar .alta:hover {
  background: #62f3ec;
  opacity: 1;
}
.nav-bar .nosotros {
  border-top: #fa1919 0.3em solid;
}
.nav-bar .nosotros:hover {
  background: #fa6b6b;
  opacity: 1;
}
.nav-bar .contacto {
  border-top: #04dc4c 0.3em solid;
}
.nav-bar .contacto:hover {
  background: #46dd78;
  opacity: 1;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

.search-bar {
  display: inline-block;
  background-image: url("/imagenes/fondo7.jpg");
  justify-content: space-between;
  border: white double;
}
.search-bar__logo-container, .search-bar__form-container {
  padding: 1em;
}
.search-bar__logo-container {
  display: flex;
}
.search-bar__form-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
.search-bar__form-label {
  margin-right: 0.3em;
  background-color: brown;
  border: 0.1em black solid;
  padding: 0.1em;
}
.search-bar__form-search {
  width: 30%;
  border: black double;
}
.search-bar__form-submit {
  margin-left: 0.3em;
  width: 6em;
  border: 0.1em black solid;
  background-color: brown;
  font-family: "Retroking";
  border-radius: 0.6em;
}
.search-bar__carrito-container {
  height: 1em;
  position: relative;
  left: 2em;
  bottom: 3.5em;
  flex-grow: 0 0 3em;
}
.search-bar .carrito {
  width: 70px;
  height: 70px;
  background-color: rgba(220, 127, 20, 0.774);
  background-image: url("/imagenes/carrito2.png");
  background-size: contain;
  border: black solid;
  color: #fafafa;
}
.search-bar .banner {
  height: 200px;
  margin: auto;
  margin-left: 20em;
  width: 40%;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  -webkit-animation: banner 10s infinite;
          animation: banner 10s infinite;
}
@-webkit-keyframes banner {
  0%, 20% {
    background-image: url(/imagenes/transicion2.jpg);
  }
  20%, 40% {
    background-image: url(/imagenes/transicion4.jpg);
  }
  40%, 60% {
    background-image: url(/imagenes/transicion5.jpg);
  }
  60%, 80% {
    background-image: url(/imagenes/transicion6.jpg);
  }
  80%, 100% {
    background-image: url(/imagenes/transicion8.jpg);
  }
}
@keyframes banner {
  0%, 20% {
    background-image: url(/imagenes/transicion2.jpg);
  }
  20%, 40% {
    background-image: url(/imagenes/transicion4.jpg);
  }
  40%, 60% {
    background-image: url(/imagenes/transicion5.jpg);
  }
  60%, 80% {
    background-image: url(/imagenes/transicion6.jpg);
  }
  80%, 100% {
    background-image: url(/imagenes/transicion8.jpg);
  }
}

.menu-toggle {
  display: none;
  background-color: skyblue;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
  background-color: #9c6410;
  height: 100%;
}
.menu-toggle__pan-arriba, .menu-toggle__medallon, .menu-toggle__pan-abajo {
  display: block;
  background-color: black;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__pan-arriba {
  top: 0.8em;
}
.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__pan-abajo {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

.section-cards {
  width: 60%;
  margin: 0 auto;
  background-image: url("/imagenes/estanteria1.png");
  background-repeat: repeat-y;
  background-color: brown;
  text-align: center;
  padding: 1em;
}

.letra {
  font-size: 3em;
  text-decoration: overline underline;
}

.cards-container {
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}

@font-face {
  font-family: "Park";
  src: url("/letras/Park Lane NF.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Retroking";
  src: url("/letras/Retroking.ttf") format("truetype");
  font-style: normal;
}
body {
  font-family: "Texturina", serif;
}

header {
  font-family: "Retroking";
}/*# sourceMappingURL=main.css.map */