
.contact__title{
    font-family: 'Retroking';
    font-size: 3.3em;
    color: rgb(206, 120, 7);
    margin: 0.4em;
    text-decoration: underline overline;
    text-align: center;
}
.section-contact{
    width: 70%;
    height: 12%;
    display:grid;
    gap: 1em;
    grid-template-columns: repeat (3, 1fr);
    margin: 1em auto;
    padding: 1em;
    background-image: url("../imagenes/fondo12.jpg");
    background-position: center;
    border-radius: 2em;
        &__header{
            grid-column: span 3;
            font-size: 1.3em;
            color: rgb(39, 30, 18);
            margin: 1em;
        }
        &__redes{
            margin: 1em;
            padding: 1em;
            font-size: 1em;
            color: black;
            font-weight: bolder;
            grid-row: span 1;
            text-align: center;
            border:.3em double black;
            background-color: #CC850F;
            display: flex;
            flex-direction: row;
        }
        &__direction{
            margin: 1em;
            padding: 1em;
            font-size: 1em;
            font-weight: bolder;
            grid-column: span 2;
            grid-row: span 1;
            border:.3em double black;
            background-color: #8A1C01;
        }
        &__mail{
            grid-column: span 1;
            text-align: center;
            margin: 1em auto;
            padding: .1em;
            font-size: 1em;
            color: black;
            font-weight: bolder;
            border:.3em double black;
            background-color: #718f35;
        }
        &__a{
            color: rgb(0, 0, 0);
            padding: .1em;
            text-decoration: none;
            
        }
        
        &__phone{
            grid-column: span 1;
            text-align: center;
            padding: 1em;
            margin: 1em;
            font-size: 1em;
            color: black;
            font-weight: bolder;
            border:.3em double black;
            background-color: #357D7E;
        }
        @media (max-width:1000px){
            &{
                display:block;   
            }
            iframe{
                width: 12em;
                height: auto;
            }

            &__redes{
                display: block;
            }
    
        }

}




.data-container{
    width: 50%;
    height: 34em;
    margin: .1em auto;
    display:block;
    justify-content: center;
    background-image: url("../imagenes/logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

        &__button{
            width: 6em;
            height: 2em;
            margin: 1em auto;
            font-family: 'Retroking';
            font-size: 0.8em;
            color: black;
            background-color: rgb(206, 120, 7);
            border-radius: 2em;
            
        }

        &__legend{
            font-family: 'Retroking';
            font-size: 2.3em;
            color: rgb(206, 120, 7);
            margin-left: 7em;
            padding: 0 1em ;
        }
        &__form{
            display:flex;
            flex-direction: column;
            font-family: 'Retroking';
            font-size: 1.3em;
            color: rgb(206, 120, 7);
            padding: 1em;
        }

        &__textarea{
            resize: none;
            border-radius: 2em;
        }

        @media (max-width:1000px){
        &__legend{
            margin-left: 1em;
            }
        }
}


