.registration__title{
    font-family: 'Retroking';
    font-size: 1.4em;
    color: rgb(206, 120, 7);
    margin: 1em;
    text-decoration: underline overline;
    text-align: center;
}

.registration__subtitle{
    font-family: 'Retroking';
    font-size: 1.6em;
    color: rgb(206, 120, 7);
    margin: 1em;
    text-decoration: underline overline;
    text-align: center;
}
.product-container{
    width: 50%;
    height: 32%;
    margin: .1em auto;
    display:block;
    justify-content: center;
    background-image: url("../imagenes/logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
        &__legend{
                font-family: 'Retroking';
                font-size: 2em;
                color: rgb(206, 120, 7);
                margin-left: 5em;
                padding: 0 1em ;
        }

        &__form{
            display:flex;
            flex-direction: column;
            font-family: 'Retroking';
            font-size: 1.1em;
            color: rgb(235, 148, 34);
            padding: 1em;
        }
        &__button{
            width: 6em;
            height: 2em;
            margin: 1em auto;
            font-family: 'Retroking';
            font-size: 0.8em;
            color: black;
            background-color: rgb(206, 120, 7);
            border-radius: 2em;
        }
            @media (max-width:900px){
                &__legend{
                    margin-left: 2em;
            }
            }
            @media (max-width:700px){
                &__legend{
                    margin-left: 1em;
            }
            }

}
        .footer-container{ 
            margin: 0 auto;
            display: block;
            width: 8em;
            height: 2em;
            color: rgb(206, 120, 7);
            font-family: 'Retroking';
            text-align: center;
            font-size: 2em;
            text-align: center;
        }

        .button-index{
            display: block;
            width: 5em;
            border-radius: 2em 4em;
            margin: 0 auto;
            background-color: chocolate;
            color: rgb(250, 250, 250);
            font-family: 'Retroking';
            text-align: center;
            font-size: 2em;
            text-decoration: none;
        }
        .listado_productos{
            width: 75%;
            margin: .5em auto;
            padding: .5em;
            background-image: url("../imagenes/fondo15.jpg");
            font-family: 'Dongle', sans-serif;
            font-size: 1.5em;
            border-radius: .3em;
            color:rgb(0, 0, 0)
        }

        table,th,td{
            border:1px solid black;
            border-collapse: collapse;
        }
        table{
            width: 100%;
            padding: .5em;
        }
        th{
            font-family: 'Retroking';
            font-size: .7em;
        }
        th,td{
            padding: .1em .6em;
        }

        .button--registration{
            margin: .3em auto;
            padding: .3em;
            font-family: 'Retroking';
            font-size: .5.2em;
            color: black;
            background-color: rgb(206, 120, 7);
            border-radius: .3em;
        }

        .detalles__size{
            width: 50%;
            height: 5em;
            border-radius: .6em ;
        }

        @media (max-width:1200px){
            .listado_productos{
                overflow: scroll;            
            }
            .button--registration{
                margin: .1em auto;
                padding: .1em;
                font-family:'Dongle', sans-serif;
                font-size: .8em;

            }
            th{
                font-family:'Dongle', sans-serif;
                font-size: 1em;
            }
        }

        .input-group {
            margin: .2em .5em;
            input:not(input[type="checkbox"]) {
                padding: .3em .3em;
                display: block;
                width: 85%;
                margin-top: .5em;
                border: none;
                border-bottom: 1px solid rgb(206, 120, 7);
                outline: none;
                border-top-left-radius: .2em;
                border-top-right-radius: .2em;
                
                &:focus {
                    border-left: .5em solid rgb(206, 120, 7);
                    border-right: .5em solid rgb(206, 120, 7);
                    padding-left: 0.5em;
                    background-color: #f4f6f8;
                }
            }

            &__error {
                label,
                input:not(input[type="checkbox"]) {
                    color: hsl(0, 100%, 30%);
                    &:focus {
                        border-color: hsl(0, 100%, 30%);
                    }
                }
    
                input:not(input[type="checkbox"])::selection {
                    background-color: hsl(0, 0%, 80%);
                }
    
                .error-detail {
                    background-color: hsl(0, 100%, 90%);
                    color: hsl(0, 100%, 30%);
                    font-weight: bold;
                    padding: .25em .5em;
                    border-bottom-left-radius: .2em;
                    border-bottom-right-radius: .2em;
                }
    
                .error-detail:empty {
                    padding: 0;
                }

                .error-select{
                    background-color: hsl(0, 100%, 90%);
                    color: hsl(0, 100%, 30%);
                }
            }
        }
        
        #drop-area{
            border: 2px dotted #ccc ;
            border-radius: 10px;
            width: 50%;
            margin: 25px 0;
            padding: 20px;
        }







