
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;1,100;1,200&display=swap');

@font-face {
    font-family:'Park' ;
    src: url('/letras/Park\ Lane\ NF.ttf')  format('truetype');
    font-style: normal;
}

@font-face {
    font-family:'Retroking' ;
    src: url("/letras/Retroking.ttf")  format('truetype');
    font-style: normal;
}


body{
    font-family: 'Texturina', serif;
    background-color: black;
    // background-image: url("/imagenes/fondo9.jpg");
}
header{
    font-family: 'Retroking';
}
