.section-cards{
    width: 80%;
    margin: 0.8em 0.8em 1.8em 16.5em;
    background-color: black;
    background-repeat: repeat-y;
    text-align: center;
    padding: 1em; 
    color: rgb(206, 120, 7);
}
.letra{
    font-size: 3em;
    text-decoration:overline underline;
    
}

.cards-container{
    margin: 0.2em auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(min-width:1200px){
        &{
        gap: 2em ;
        }
    }
}

